#t1 {
    padding-left: 15px;
    width: 1350px;
    margin: 15px;
    border: solid 4px black;
}
h1 {
    /*position: absolute;
    transform: translate(50%);*/
    text-align: center;
}

#omit_fabs {
    font-size: 10px;
    vertical-align: top;
    text-align: left;
    height: 40px;
}

.bold-bottom{
    border-bottom: solid 3px black;
}

.bold-left{
    border-left: solid 3px black;
}

.bold-right{
    border-right: solid 3px black;
}

.revision_code_numbers{
    width: 30px;
    text-align: center;
}

.top_four_titles{
    height: 35px;
    text-align: right;
}

.sub_heading{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.shipper_ref-details{
    height: 40px;
    font-size: 12px;
    vertical-align: top;
    text-align: left;
}

.right-margin-text {
    font-size: 12px;
     border-right: solid 4px black;
}

#search_settings {
    text-align: right;
}

.rotate {
    /* FF3.5+ */
    -moz-transform: rotate(-90.0deg);
    /* Opera 10.5 */
    -o-transform: rotate(-90.0deg);
    /* Saf3.1+, Chrome */
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7 */
    /*filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083)";*/
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* Standard */
    transform: rotate(-90.0deg);
    width: 60px;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 15px;
}

.fill {
    background-color: darkgray;
}

