h1 {
    /*position: absolute;
    transform: translate(50%);*/
    text-align: center;
}

h3 {
}

#search_settings {
    text-align: right;
}

header {
    /*margin-top: 55px;
    height: 120px;*/
}

/*
main {
    background-color: lightgray;
}

nav {
    background-color: lightgray;
}

aside {
    background-color: lightgray;
}*/

#Kirby_Logo {
    /*float: left;
    display: inline-block;*/
}

legend {
    /*font-size: 24px;
    font-weight: bold;*/
}

fieldset {
    /*width: 300px;*/
    /*float: left;*/
}

#JobInfo {
    /*width: 40%;
    min-width: 300px;*/
}

#GroupInfo {
    /*width: 40%;
    min-width: 400px;*/
}

section {
    /*width: auto;
    height: auto;*/
    /*border: solid 2px black;*/
}

form {
}

/*article {
    background-color: lightgray;
}

footer {
    background-color: lightgray;
}*/

table, th, td {
    /*border: 1px solid black;
    border-collapse: collapse;*/
}

#t1 th {
    /*height: 40px;
    font-size: 14px;*/
}

#t1 td {
    /*height: 30px;
    font-size: 18px;
    vertical-align: top;*/
}

.rotate {
    /* FF3.5+ */
    -moz-transform: rotate(-90.0deg);
    /* Opera 10.5 */
    -o-transform: rotate(-90.0deg);
    /* Saf3.1+, Chrome */
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7 */
    /*filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083)";*/
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* Standard */
    transform: rotate(-90.0deg);
}

.fill {
    background-color: darkgray;
}

#tbl1 {
    /*border: solid 1px black;
    border-collapse: collapse;
    width: 400px;*/
}

#tbl2 {
    /*width: 400px;*/
}
