h1 {
    /*position: absolute;
    transform: translate(50%);*/
    text-align: center;
}

.revision_code_numbers{
    width: 30px;
    text-align: center;
}

.top_four_titles{
    height: 40px;
}

.sub_heading{
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.shipper_ref-details{
    height: 40px;
    font-size: 12px;
    vertical-align: top;
    text-align: left;
}

.right-margin-text {
    font-size: 12px;
}

#search_settings {
    text-align: right;
}

.rotate {
    /* FF3.5+ */
    -moz-transform: rotate(-90.0deg);
    /* Opera 10.5 */
    -o-transform: rotate(-90.0deg);
    /* Saf3.1+, Chrome */
    -webkit-transform: rotate(-90.0deg);
    /* IE6,IE7 */
    /*filter: "progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083)";*/
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
    /* Standard */
    transform: rotate(-90.0deg);
    width: 60px;
    vertical-align: bottom;
    text-align: left;
}

.fill {
    background-color: darkgray;
}

